@*@model IEnumerable<Dish>*@
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<CompanyUser> SignInManager
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    var pageName = "Home Page";
    ViewData["Title"] = pageName;
}

<div class="offer">
    <div class="glide" id="glide1">
        <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
                <div class="glide__slide 1">
                    <div class="offer-img-slide-1">
                        <div class="container">
                            <div class="offer-bg">
                                <h1>Бізнесу</h1>
                                <p class="pb20 pt10">Керівник кейтерінгової компаніі, ресторану чи кафе має доступ до всіх показників бізнесу 24 години на добу з будь-якої частини світу.</p>
                                <a class="button-offer" href="#">Вибрати раціон</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glide__slide 2">
                    <div class="offer-img-slide-1">
                        <div class="container">
                            <div class="offer-bg">
                                <h1>Шеф-кухарю</h1>
                                <p class="pb20 pt10">Керівник кейтерінгової компаніі, ресторану чи кафе має доступ до всіх показників бізнесу 24 години на добу з будь-якої частини світу.</p>
                                <a class="button-offer" href="#">Вибрати раціон</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glide__slide 3">
                    <div class="offer-img-slide-1">
                        <div class="container">
                            <div class="offer-bg">
                                <h1>Садочкам</h1>
                                <p class="pb20 pt10">Керівник кейтерінгової компаніі, ресторану чи кафе має доступ до всіх показників бізнесу 24 години на добу з будь-якої частини світу.</p>
                                <a class="button-offer" href="#">Вибрати раціон</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
                <button class="slider__bullet glide__bullet" data-glide-dir="=0"></button>
                <button class="slider__bullet glide__bullet" data-glide-dir="=1"></button>
                <button class="slider__bullet glide__bullet" data-glide-dir="=2"></button>
            </div>
        </div>
    </div>
</div>
<div class="tab-control">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Зручне управління</h2>
            </div>
            <div class="col-ld-4">
                <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="circle-img-tab"><i class=" fas fa-cart-plus"></i></span>Щоденні замовлення </a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="circle-img-tab"><i class="fas fa-chart-pie"></i></span>Розрахунок продуктів </a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span class="circle-img-tab"><i class="fas fa-layer-group"></i></span>Он-лайн склад</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span class="circle-img-tab"><i class="far fa-calendar-alt"></i></span>Планування</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span class="circle-img-tab"><i class="fas fa-clipboard"></i></span>Зручні звіти </a>
                </div>
            </div>
            <div class="col-ld-8 col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><img class="img-fluid" src="img/11.png" alt=""></div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img class="img-fluid" src="img/11.png" alt=""></div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img class="img-fluid" src="img/11.png" alt=""></div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img class="img-fluid" src="img/11.png" alt=""></div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><img class="img-fluid" src="img/11.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modDialogLogin" class="modal" tabindex="-1" role="dialog" style="z-index:3100;">
    <div class="modal-dialog">
        <div id="dialogContentLogin" class="modal-content">

        </div>

    </div>
</div>
@section scripts
{
    <script src="js/glide.min.js"></script>
    <script src="js/my.js"></script>
    <script>
    $('.loginLink').click(function (e) {
                e.preventDefault();
                var url = '@Url.Content("~/Account/LoginModal")';

                $.get(url, function (data) {
                    $('#dialogContentLogin').html(data);
                    $('#modDialogLogin').modal('show');
                });
            });
    </script>
}