@{
    ViewData["Title"] = "Privacy&Terms";
}
<div style="width: 95%;
        text-align: center;">

    <P ALIGN=CENTER STYLE="margin-bottom: 0.11in">
        <FONT SIZE=3>
            <SPAN LANG="uk-UA">
                <B>
                    ПУБЛІЧНИЙ
                    ДОГОВІР ПРИЄДНАННЯ
                </B>
            </SPAN>
        </FONT>
    </P>

    <P ALIGN=CENTER STYLE="margin-bottom: 0.11in">
        <FONT SIZE=3>
            <SPAN LANG="uk-UA">
                <B>
                    про
                    постачання готової їжі та надання послуг
                    харчування
                </B>
            </SPAN>
        </FONT>
    </P>
    <P LANG="uk-UA" ALIGN=CENTER STYLE="margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="uk-UA">
                        <B>
                            ЗАГАЛЬНІ
                            ПОЛОЖЕННЯ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <A HREF="http://kabachok.catering" target="_blank">
                        <FONT SIZE=3>
                            <SPAN LANG="uk-UA">
                                <B>
                                    Сервіс
                                    харчування КАБАЧОК
                                </B>
                            </SPAN>
                        </FONT>
                    </A><FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            (далі — Виконавець) публікує даний
                            договір, що є публічним договором-офертою
                            (далі — Договір) і відповідно до статей
                            633, 641, 642 Цивільного кодексу України
                            має  юридичну силу письмового договору,
                            про надання послуг харчування та продаж
                            товарів, представлених на офіційному
                            інтернет-сайті Продавця <A HREF="https://kabachok.group">https://kabachok.group</A>
                            (далі – Сайт).
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Факт
                            реєстрації на Сайті та розміщення
                            замовлення покупця є повним і
                            беззаперечним погодженням з умовами
                            цього публічного договору та інформації,
                            викладеної на Сайті.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            У
                            зв'язку з цим, перш ніж почати реєстрацію
                            на сайті або зробити замовлення, уважно
                            ознайомтесь з цим Договором. У випадку,
                            якщо Ви не погоджуєтесь з будь-якою
                            умовою  цього Договору, Ви не зможете
                            зробити замовлення та скористатись
                            послугами від сервісу харчування
                            КАБАЧОК.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=2>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="uk-UA">
                        <B>
                            ОСНОВНІ
                            ТЕРМІНИ ТА ВИЗНАЧЕННЯ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Законодавством
                            є чинне законодавство України.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Публічний
                            Договір – договір відповідно до ст.
                            ст. 633, 641 Цивільного кодексу України,
                            який встановлює однакові для всіх
                            замовників умови надання послуг на
                            умовах публічної оферти з моменту її
                            акцептування Замовником.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Договір
                            приєднання – договір, умови якого
                            встановлені однією із сторін у формулярах
                            або інших стандартних формах, який
                            може бути укладений лише шляхом
                            приєднання другої сторони до
                            запропонованого договору в цілому.
                            Друга сторона не може запропонувати
                            свої умови договору.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Публічна
                            оферта – пропозиція Виконавця укласти
                            з ним договір, викладена в цьому Договорі
                            та адресована будь-якій фізичній особі
                            у відповідності зі статтями 633 та 641
                            Цивільного кодексу України.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Акцептування
                            договору – вчинення Замовником дій,
                            в порядку, визначеному цим Договором,
                            що свідчать про повне і безумовне
                            прийняття Замовником визначених в
                            публічній оферті умов договору.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Виконавець
                            - юридична або фізична особа - підприємець,
                            зареєстрований відповідно до
                            Законодавства, який реалізує продукцію,
                            визначену на Сайті, з урахуванням умов
                            даного Договору.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Замовник
                            - юридична або фізична особа, яка досягла
                            18 років, має повну цивільну правоздатність
                            і дієздатність, зареєстрованим
                            Замовником на сайті https://kabachok.group/.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Продукція
                            – готова їжа, відповідно до переліку
                            страв, опис яких міститься на Сайті,
                            яка доставляється Замовнику в погоджений
                            спосіб та час, а також супутні товари
                            та послуги, що надаються Виконавцем
                            на умовах цього Договору.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Сайт
                            – сайт Виконавця в мережі Інтернет,
                            що розміщений за посиланням:
                        </SPAN>
                    </FONT><A HREF="https://kabachok.group/">https://<SPAN LANG="uk-UA">kabachok.group</SPAN>/</A><FONT SIZE=3><SPAN LANG="uk-UA">.</SPAN></FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Зміст
                            сайту – охоронювані результати
                            інтелектуальної, творчої діяльності
                            або інших об'єктів права інтелектуальної
                            власності, включаючи, але не обмежуючись:
                            тексти літературних творів, їх імена,
                            передмови, анотації, статті, ілюстрації,
                            обкладинки, музика з текстом, графічним,
                            текстовим, фотографічним, похідним,
                            композитним та іншими роботами,
                            інтерфейси, назви торгових марок,
                            логотипи, комп'ютерні програми та
                            програми, компіляція даних (бази даних),
                            а також дизайн, структура, вибір,
                            координація, зовнішній вигляд, загальний
                            стиль і розташування текстів, що входять
                            до складу Сайта та інші об’єкти
                            інтелектуальної власності всі разом
                            або окремо, що містяться на Сайті.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Замовлення
                            - належним чином оформлене і розміщене
                            на Сайті  замовлення Замовника  на
                            придбання Продукції Виконавця.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.69in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=3>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="uk-UA">
                        <B>
                            АКЦЕПТУВАННЯ
                            ДОГОВОВОРУ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Цей
                            Договір є договором приєднання в
                            розумінні ст. 634 Цивільного кодексу
                            України. Акцептуючи Договір Замовник
                            автоматично погоджується з усіма
                            умовами Договору та всіх додатків до
                            нього.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Підтвердженням
                            акцептування договору Замовником є
                            оформлення та відправлення Виконавцю
                            замовлення через сайт та сплата вартості
                            Продукції.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Договір
                            вважається укладеним з моменту оплати
                            Заявником вартості Продукції, чи
                            вчинення інших дій, що свідчать про
                            згоду дотримуватися умов Договору без
                            подальшого підписання паперових
                            примірників Сторонами.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Замовник,
                            з моменту розміщення замовлення та
                            оплати вартості Продукції, дає згоду
                            дотримуватися умов Договору та купувати
                            Продукцію на передбачених Договором
                            умовах.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Після
                            реєстрації на Сайті, розміщенні на
                            Сайті замовлення та оплати вартості
                            Продукції у спосіб, визначений на
                            Сайті, Покупець не може посилатись на
                            незнання з будь-яких питань, що
                            врегульовані цим Договором.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=4>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT SIZE=3><SPAN LANG="uk-UA"><B>РЕЄСТРАЦІЯ</B></SPAN></FONT></P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Для
                            здійснення замовлень Замовник повинен
                            зареєструватися на Сайті (створити
                            обліковий запис) шляхом заповнення
                            відповідної реєстраційної форми та
                            безумовного прийняття та погодження
                            умов цього Договору шляхом підтвердження
                            пункту «Прийняти умови Договору».
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Виконавець
                            дає Замовнику можливість створити
                            лише один обліковий запис (профіль).
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Після
                            завершення реєстрації Замовник отримує
                            логін і пароль для входу в особистий
                            кабінет. Замовник  несе повну
                            відповідальність за безпеку його
                            логіна та паролю, а також за все, що
                            буде зроблено під його обліковим
                            записом на Сайті.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Замовник
                            зобов'язується негайно інформувати
                        </SPAN>
                    </FONT><FONT SIZE=3>Kabachok</FONT><FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                        </SPAN>
                    </FONT><FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            у разі
                            несанкціонованого доступу до свого
                            облікового запису
                        </SPAN>
                    </FONT><FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                        </SPAN>
                    </FONT><FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            третіми
                            особами або будь-якими іншими порушеннями
                            безпеки.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Замовник,
                            зареєструвавши на Сайті, дає свою згоду
                            на отримання регулярних повідомлень
                            з детальною інформацією про Продукцію
                            та послуги, зміни в умовах обслуговування,
                            акції та бонусні програми на свою
                            електронну пошту та/або у вигляді
                            sms-повідомлень.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Замовник
                            підтверджує, що отримання інформації
                            від покупця на його електронну пошту
                            та / або у вигляді будь-яких SMS-повідомлень
                            не є спамом.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=5>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="uk-UA">
                        <B>
                            ПОРЯДОК
                            ЗДІЙСНЕННЯ ЗАМОВЛЕНЬ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Замовлення
                            може бути зроблене шляхом вибору страв
                            в одному з чотирьох вид
                        </SPAN>
                    </FONT><FONT SIZE=3><SPAN LANG="uk-UA">і</SPAN></FONT><FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            в
                            меню: “Стандартне”, “Безлактозне”,
                            “Безглютенове” та “Овочево-рибне”.
                            Сторінка “Мої замовлення” - можливість
                            ознайомитися з наявними меню, стравами,
                            інгредієнтами, зробити вибір на період
                            до одного місяця або ж відредагувати
                            його.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Замовник
                            ма
                        </SPAN>
                    </FONT><FONT SIZE=3><SPAN LANG="uk-UA">є</SPAN></FONT><FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            можливість здійснювати замовлення,
                            як на один день, так і на довший період.
                            Замовлення робиться на наступний день
                            і далі. Не можна зробити замовлення
                            день у день.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Замовлення
                            можна скасувати або відкорегувати. На
                            наступний день це можна зробити до
                            22:00 за Київським часом.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=6>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="uk-UA">
                        <B>
                            ВАРТІСТЬ
                            ТА ПОРЯДОК РОЗРАХУНКІВ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Послуги
                            надаються Замовнику на умовах 100 %
                            попередньої оплати відповідно до
                            затверджених Виконавцем цін, вказаних
                            на веб-сайті Виконавця (надалі за
                            текстом – «Ціни»).
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Оплата
                            Послуг здійснюється в національній
                            валюті України – гривні, у безготівковій
                            формі, шляхом переказу Замовником
                            грошових коштів на поточний рахунок
                            Виконавця за сформованим рахунком із
                            використанням сервісу LIQPAY чи шляхом
                            банківського переказу, на вибір
                            Замовника.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Покупець
                            підтверджує свою згоду на оплату послуг
                            (комісій) третім особам (банку та/або
                            платіжній системі), які здійснює платежі
                            за допомогою платіжної картки, якщо
                            такі встановлені. У разі здійснення
                            Замовником оплати шляхом банківського
                            переказу обов'язок Замовника сплатити
                            вартість Продукції вважається виконаним
                            з моменту зарахування відповідних
                            коштів на поточний рахунок Виконавця.
                            Такі кошти відображаються на балансі
                            Замовника в особистому кабінеті на
                            Сайті протягом 24 годин з моменту
                            зарахування коштів на рахунок Виконавця.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            У
                            разі відсутності Замовника у визначений
                            час для отримання Продукції, вона
                            вважаються поставленою Замовнику
                            (послуги надані) і кошти у цьому разі
                            Замовнику не повертаються.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=7>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="uk-UA">
                        <B>
                            ПРАВА
                            ТА ОБОВ’ЯЗКИ СТОРІН
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Обов'язки
                            Виконавця:
                        </SPAN>
                    </FONT>
                </P>
                <OL>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Не
                                    розголошувати будь-яку приватну
                                    інформацію Покупця або надавати доступ
                                    до цієї інформації третім особам, крім
                                    випадків, передбачених чинним
                                    законодавством України;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Приймати,
                                    обробляти Замовлення, інформувати
                                    Покупця про зміни статусу замовлення,
                                    а також про зміни в меню та умовах
                                    поставки Продукції чи надання послуг.
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Доставляти
                                    Покупцеві Продукцію, що відповідає
                                    вимогам Договору і чинного законодавства
                                    України в строк і на умовах, зазначених
                                    в Договорі.
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Не
                                    розміщувати на Сайті файли, які містять
                                    або можуть містити віруси або інше
                                    шкідливе програмне забезпечення;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    Не
                                    публікуйте на Сайті будь-яку інформацію,
                                    яка порушує права третіх мотелів на
                                    результати інтелектуальної діяльності;
                                    Інші обов'язки
                                </SPAN>
                            </FONT><FONT SIZE=3><SPAN LANG="ru-RU">EAT</SPAN></FONT><FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                </SPAN>
                            </FONT><FONT SIZE=3><SPAN LANG="ru-RU">EASY</SPAN></FONT><FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    відповідно до цієї Пропозиції та
                                    законодавства.
                                </SPAN>
                            </FONT>
                        </P>
                </OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Права
                            Виконавця:
                        </SPAN>
                    </FONT>
                </P>
                <OL>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    На
                                    власний розсуд змінювати, доповнювати
                                    або видаляти будь-яку розміщувану на
                                    сайті інформацію, а також відео та
                                    графічний контент, будь-які елементи
                                    та складові частини Сайту.
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    Зупиняти,
                                    обмежувати чи припиняти доступ
                                    Замовника до всіх або до будь-якого
                                    розділу Сайту в будь-який час у випадку
                                    порушення Замовником цього Договору
                                    або Законодавства, в тому числі у
                                    випадку порушення зобов’язань
                                    Замовника, щодо внесення передоплати
                                    за Продукцію та послуги Виконавця.
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    Без
                                    спеціального повідомлення Замовника
                                    вносити зміни та доповнення до цього
                                    Договору. Зміни набувають чинності з
                                    моменту їх розміщення (публікації на
                                    сайті), якщо інше прямо не зазначено
                                    Виконавцем.
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    Не
                                    виконувати замовлення у разі настання
                                    форс-мажорних обставин.
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    Проводити
                                    маркетингові заходи, в тому числі
                                    шляхом відправки на електронну пошту
                                    у вигляді смс-повідомлень, інформації
                                    про Продукцію Сервісу харчування
                                    Кабачок, спеціальні пропозиції та
                                    анонси;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    Залучати
                                    до надання послуг будь-яких третіх
                                    осіб, зберігаючи при цьому повну
                                    відповідальність перед Замовником
                                    за Продукцію та послуги, що надаються
                                    через Сайт.
                                </SPAN>
                            </FONT>
                        </P>
                </OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Обов'язки
                            Замовника
                        </SPAN>
                    </FONT>
                </P>
                <OL>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Уважно
                                    ознайомитись з інструкцією щодо
                                    користування системою замовлення
                                    їжі;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Уважно
                                    знайомитись з інгридієнтами, які
                                    використовуються у приготування страв
                                    та не здійснювати замовлення страв,
                                    які можуть викликати алергічну або
                                    іншу небажану реакцію на Продукцію;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Здійснювати
                                    замовлення та пплачувати Продукцію
                                    Виконавця згідно правил та тарифів,
                                    зазначених на Сайті та в цьому Договорі;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Регулярно
                                    знайомитись з інформацією, розміщеною
                                    на Сайті, в особистому кабінеті
                                    Замовника, та у повідомленнях, що
                                    надходять від Виконавця на зареєстровані
                                    поштову адресу та номер телефону
                                    Замовника;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="uk-UA">
                                    Утримуватись
                                    від здійснення дій, спрямованих на
                                    дестабілізацію роботи Сайту, здійснення
                                    спроб несанкціонованого доступу до
                                    Сайту, а також здійснення будь-яких
                                    інших дій, що порушують права Виконавця
                                    та/або третіх осіб
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Надавати
                                    під час реєстрації (створенні облікового
                                    запису) точну, актуальну та повну
                                    інформацію про себе, яка вимагається
                                    для реєстрації на Сайті;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Вживати
                                    необхідні заходи для убезпечення
                                    свого облікового запису та паролів,
                                    а також електронної картки ідентифікації.
                                    В разі втрати картки, Замовник оплачує
                                    виготовлення дублікату сплачуючи при
                                    цьому вартість цієї послуги згідно
                                    тарифів Виконавця.
                                </SPAN>
                            </FONT>
                        </P>
                </OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Права
                            Замовника:
                        </SPAN>
                    </FONT>
                </P>
                <OL>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Отримувати
                                    достовірну та повну інформацію про
                                    Продукцію;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Отримувати
                                    Продукцію у місці та час відповідно
                                    до здійсненого замовлення;
                                </SPAN>
                            </FONT>
                        </P>
                    <LI>
                        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                            <FONT SIZE=3>
                                <SPAN LANG="ru-RU">
                                    Відмовитись
                                    від купівлі продукції та послуг
                                    Виконавця шляхом видалення облікового
                                    запису з Сайту.
                                </SPAN>
                            </FONT>
                        </P>
                </OL>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.98in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=8>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="ru-RU">
                        <B>
                            ВІДПОВІДАЛЬНІСТЬ
                            СТОРІН ТА ВИРІШЕННЯ СПОРІВ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            За
                            невиконання або неналежне виконання
                            своїх зобов’язань за цим Договором,
                            сторони несуть відповідальність
                            відповідно до чинного законодавства
                            України.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Усі
                            спори, що виникають з цього Договору
                            або пов’язані із ним, вирішуються
                            шляхом переговорів між Сторонами.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Якщо
                            відповідний спір не можливо вирішити
                            шляхом переговорів, він вирішується
                            в судовому порядку за встановленою
                            підвідомчістю та підсудністю такого
                            спору відповідно до чинного в Україні
                            законодавства.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Виконавець
                            не несе будь-яку відповідальність за
                            ненадання або неналежне надання Послуг
                            Замовнику за умови настання будь-яких
                            обставин, які виникли не з вини Виконавця
                            (а саме – настання обставин, які виникли
                            з вини чи необережності Замовника та
                            / або настання обставин, які виникли з
                            вини чи необережності будь-якої третьої
                            особи (будь-яких третіх осіб) та /або
                            настання форс-мажорних обставин).
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=9>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="ru-RU">
                        <B>
                            ФОРС-МАЖОРНІ
                            ОБСТАВИНИ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Сторони
                            звільняються від відповідальності за
                            невиконання або неналежне виконання
                            зобов’язань, що передбачені даним
                            Договором, якщо воно виникло внаслідок
                            форс-мажорних обставин.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Під
                            форс-мажорними обставинами у даному
                            Договорі розуміються будь-які обставини,
                            що виникли поза волею або всупереч
                            волі чи бажанню Сторін і яких не можна
                            передбачити чи уникнути, включаючи:
                            військові дії, громадські заворушення,
                            епідемії, блокаду, землетруси, повені,
                            пожежі, а також рішення чи приписи
                            органів державної влади та управління
                            держави, резидентом якої є Замовник,
                            або держави, резидентом якої є Виконавець,
                            внаслідок яких на Сторони (або одну із
                            Сторін) покладатимуться додаткові
                            обов’язки чи встановлюватимуться
                            додаткові обмеження і які роблять
                            неможливим подальше повне або часткове
                            виконання Договору, а також інші дії
                            чи події, що існують поза волею Сторін.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Якщо
                            форс-мажорні обставини триватимуть
                            більше 3-х (трьох) місяців поспіль, то
                            кожна із Сторін матиме право відмовитись
                            від подальшого виконання зобов’язань
                            за цим Договором і, в такому разі, жодна
                            із Сторін не матиме права на відшкодування
                            іншою
                        </SPAN>
                    </FONT><FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Стороною
                            можливих збитків.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.55in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL START=10>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                <FONT SIZE=3>
                    <SPAN LANG="ru-RU">
                        <B>
                            ІНШІ
                            УМОВИ ДОГОВОРУ
                        </B>
                    </SPAN>
                </FONT>
            </P>
    </OL>
    <P LANG="uk-UA" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <OL>
        <OL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <A NAME="_GoBack"></A>
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Кожна Сторона гарантує
                            іншій Стороні, що володіє необхідною
                            дієздатністю, а рівно всіма правами і
                            повноваженнями, необхідними і достатніми
                            для укладання і виконання цього Договору
                            відповідно до його умов.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="uk-UA">
                            Власним
                            акцептуванням Договору Замовник
                            добровільно надає згоду на збір та
                            обробку власних персональних даних з
                            наступною метою: дані, що стають відомі,
                            використовуватимуться в комерційних
                            цілях, в тому числі отримання інформації
                            про замовлення та обробки інформації
                            про нього, надсилання телекомунікаційними
                            засобами зв’язку (електронною поштою,
                            мобільним зв’язком) рекламних та
                            спеціальних пропозицій, інформації
                            про акції або будь-якої іншої інформації
                            про діяльність Виконавця.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Сторони
                            зобов’язуються зберігати конфіденційну
                            інформацію, отриману в результаті
                            виконання цього Договору, за винятком
                            випадків, коли це письмово санкціоновано
                            іншою Стороною або вимагається
                            державними органами відповідно до
                            чинного законодавства. За розголошення
                            конфіденційної інформації винна
                            Сторона несе відповідальність згідно
                            з чинним законодавством.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Договір
                            є публічним і безстроковим та діє до
                            його припинення будь-якою зі Сторін у
                            порядку, встановленому цим Договором
                            або чинним законодавством, але у
                            будь-якому випадку до моменту остаточного
                            його виконання Сторонами. Цей Договір
                            вважається погодженим Замовником та
                            укладеним за місцезнаходженням
                            Виконавця з дати акцептування.
                        </SPAN>
                    </FONT>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
                    <FONT SIZE=3>
                        <SPAN LANG="ru-RU">
                            Виконавець
                            самостійно у відповідності та на
                            виконання вимог чинного законодавства
                            України визначає умови даного Договору
                            та додатків до нього, які є його
                            невід’ємними частинами. Виконавець
                            має право самостійно змінити та/або
                            доповнити умови цього публічного
                            Договору та додатків до нього, включаючи
                            правила продажу Продукції та отримання
                            Послуг за даним Договором. При цьому
                            Виконавець гарантує та підтверджує,
                            що розміщена на Сайті поточна редакція
                            тексту цього Договору та додатків до
                            нього, включаючи правилапродажу
                            Продукції та надання Послуг за даним
                            Договором, є дійсною.
                        </SPAN>
                    </FONT>
                </P>
        </OL>
    </OL>
    <P LANG="ru-RU" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
        <BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
        <FONT SIZE=3>
            <SPAN LANG="ru-RU">
                Виконавець
                за Договором – фізична особа-підприємець
                Черкасенко Лариса Анатоліївна
                (ідентифікаційний код 1656006505).
            </SPAN>
        </FONT>
    </P>
</div>