
@{
    var ModelName = "Admin Page";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>

<h3><a asp-controller="Dishes" asp-action="Index">Dishes</a></h3>
<h3><a asp-controller="DayDishes" asp-action="EditDay">DayDishes</a></h3>

