@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex justify-content-start flex-wrap">
    @foreach (var it in ViewBag.CategoriesId)
    {
        <div class="circle-line active" data-id="@it.Value">
            @it.Text
        </div>
    }


</div>

