@model QueryModel
@{
    int pagescount=3;
    //spplit by pagescount
    int first = (Model.Page / pagescount) * pagescount;
    int last = first + pagescount;
}
    <div class="row" style="margin-top: 92px">
        <div class="col-sm">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="apagebottom page-link m-lg-1 m-sm-2 m-md-3 m-2 mt-0 mb-0" aria-label="Previous"
                           style="border: none; color: #232323; width: 40px; height: 40px; background: #F1F2F4; border-radius: 0; text-align: center"
                           asp-action="ListItems" asp-route-sortfield=@Model.SortField asp-route-sortorder=@Model.SortOrder asp-route-page=@(first>0?first-1:0)>
                            <span aria-hidden="true"><</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for (int i = first; i < last; i++)
                    {
                        @if (i != Model.Page)
                        {
                            <li class="page-item">
                                <a class="apagebottom page-link m-lg-1 m-sm-2 m-md-3 m-2 mt-0 mb-0"
                                   style="border: none; color: #232323; font-family: Open-Sans; font-size: 16px; line-height: 22px; width: 40px; height: 40px; background: #F1F2F4; text-align: center"
                                   asp-action="ListItems" asp-route-sortfield=@Model.SortField asp-route-sortorder=@Model.SortOrder asp-route-page=@i>@i</a>
                            </li>
                        }
                        else
                        { // current
                            <li class="page-item">
                                <a class="apagebottom page-link m-lg-1 m-sm-2 m-md-3 m-2 mt-0 mb-0 active-custom"
                                   style="border: none; color: #232323; font-family: Open-Sans; font-size: 16px; line-height: 22px; width: 40px; height: 40px;  text-align: center"
                                   asp-action="ListItems" asp-route-sortfield=@Model.SortField asp-route-sortorder=@Model.SortOrder asp-route-page=@i>
                                @i<span class="sr-only">(current)</span>
                                </a>
                            </li>
                        }
                    }
                    @*
        <li class="page-item">
            <a class="apagebottom page-link m-lg-1 m-sm-2 m-md-3 m-2 mt-0 mb-0" href="#"
               style="border: none; color: #232323; font-family: Open-Sans; font-size: 16px; line-height: 22px; width: 40px; height: 40px; background: #F1F2F4; text-align: center">1</a>
        </li>
        <li class="page-item">
            <a class="apagebottom page-link m-lg-1 m-sm-2 m-md-3 m-2 mt-0 mb-0" href="#"
               style="border: none; color: #232323; font-family: Open-Sans; font-size: 16px; line-height: 22px; width: 40px; height: 40px; background: #F1F2F4; text-align: center">2</a>
        </li>
        <li class="page-item">
            <a class="apagebottom page-link m-lg-1 m-sm-2 m-md-3 m-2 mt-0 mb-0 active-custom"
               href="#"
               style="border: none; color: #232323; font-family: Open-Sans; font-size: 16px; line-height: 22px; width: 40px; height: 40px;  text-align: center">
                3<span class="sr-only">(current)</span>
            </a>
        </li>
                    *@
                    <li class="page-item">
                        <a class="apagebottom page-link m-lg-1 m-sm-2 m-md-3 m-2 mt-0 mb-0" aria-label="Next"
                           style="border: none; color: #232323; width: 40px; height: 40px; background: #F1F2F4; border-radius: 0; text-align: center"
                           asp-action="ListItems" asp-route-sortfield=@Model.SortField asp-route-sortorder=@Model.SortOrder asp-route-page=@last>
                            <span aria-hidden="true">></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
