@model IEnumerable<CateringPro.Models.DishIngredientsProportionViewModel>
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    Layout = null;
    ViewData["Title"] = "Edit";
    int i = 0;
}
@if (false)
{
<div class="row">
    <div class="container">
        <div class="row table-head">
            <div class="col col-lg-2 col-md-2">
                 <a class="add-ingredients-dishes-line fa fa-plus-square-o fa-2x" ></a>
            </div>
            <div class="col col-lg-2 col-md-2">
                <span>@Localizer["Ingredient Name"]</span>
            </div>
            <div class="col col-lg-1 col-md-1">
                <span>@Localizer["Ingredients Proprotion"]</span>
            </div>
            <div class="col col-lg-1 col-md-1">
                <span>@Localizer["Ingredients ProprotionNetto"]</span>
            </div>

        </div>
        @foreach (var proportion in Model)
        {
            proportion.LineIndex = i;
            await Html.RenderPartialAsync("IngredientDishesLine", proportion);
            i++;
        }

        </div>
    </div>
}
else
{
<div>
    @foreach (var proportion in Model)
    {
        proportion.LineIndex = i;
        await Html.RenderPartialAsync("IngredientDishesLine", proportion);
        i++;
    }

</div>
}