@model CateringPro.Models.Dish

@{
    ViewData["Title"] = "Edit";
}
<style>
form dt{
    float:left;
    display:block;
    width:30%;
}
dd select{
     width:50%;
}
dd textarea{
     width:100%;
}
</style>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Dish</h5>
            <button class="close" data-dismiss="modal" area-hidden="true">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">
            <form asp-action="EditModal" enctype="multipart/form-data">
                <dl class="dl-horizontal">
                    <dd><input type="hidden" asp-for="Id" /></dd>

                    <dt>  <label asp-for="Code" class="control-label col-md-2"></label></dt>
                    <dd>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </dd>


                    <dt>  <label asp-for="Name" class="control-label col-md-2"></label></dt>
                    <dd>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </dd>
                    <dt>
                        <label asp-for="CategoriesId" class="control-label col-md-2"></label>
                    </dt>
                    <dd>

                        <select asp-for="CategoriesId" class="form-control" asp-items="ViewBag.CategoriesId"></select>
                        <span asp-validation-for="CategoriesId" class="text-danger"></span>

                    </dd>
                    <dt><label asp-for="Price" class="control-label col-md-2"></label></dt>
                    <dd>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </dd>

                    <dt>
                        <label asp-for="Description" class="control-label col-md-2"></label>
                    </dt>
                    <dd>
                        @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                    </dd>
                    <dt>
                        <label asp-for="PictureId" class="control-label col-md-2"></label>
                    </dt>
                    <dd>    <input type="hidden" asp-for="PictureId" />
                            <input type="file" class="form-control" id="filepicture"  name="filepicture" />
                    </dd>

                    <dt>
                        <label  class="control-label col-md-2">Select picture</label>
                    </dt>

                    <dd>

                      <img width="80" id="imgfilepicture" height="80" class="form-control" style="width:80px;height:80px;" src="@Url.Action("GetPicture","Pictures",new { id=Model.PictureId,width=80,height=80})" />

                    </dd>
                </dl>
            </form>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <button type="button" button class="btn btn-primary" data-save="modal">Save</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

                <div class="col-sm-1">
                </div>

            </div>
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
