@model CateringPro.Models.DishIngredientsViewModel

@{
    ViewData["Title"] = "Edit";
}
    <div class="form-group container select-dishes-ingredients">
        
        <div class="col-md-12 col-12 col-lg-12">
            @Html.ListBoxFor(i =>Model.IngredientsIds, Model.Ingredients,
                new { @class = "form-control select-ingredients" })
            @Html.ValidationMessageFor(i => Model.Ingredients,
                "", new { @class = "text-warning" })
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
