@model IEnumerable<CateringPro.Models.Dish>

@{
    var ModelName = "Dishes";
    ViewData["Title"] = "Dishes";
}



<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6 right">
            <h2>@ModelName</h2>
        </div>
        <div class="col-md-6 right">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" id="search-val" class="form-control input-lg" placeholder="Categories" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" id="search-btn" type="button">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div id="table-content">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12  table-footer">
            <div id="create-btn" class="col-lg-3 col-md-3 create">
                <span class="fa fa-plus fa-2x" aria-hidden="true"></span>

            </div>
        </div>
    </div>
</div>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

</div>

@section scripts
{
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">

        $(function () {

            var reload = function () {
                 $('#table-content').load('/Dishes/ListItems?searchcriteria='+$('#search-val').val());
            }
            $.ajaxSetup({ cache: false });
            //$('#table-content').load('@Url.Action("ListItems","Dishes", new { searchcriteria = "" })');
            reload();
            $('#search-btn').click(function (e) {
                reload();
            });
            $('#custom-search-input').keydown((event) => {
                if (event.which == 13) {
                    event.preventDefault();
                    reload();
                }
            });
            $('#create-btn').click(function (e) {
                e.preventDefault();
                var url = '@Url.Content("~/Dishes/CreateModal")';
                $.get(url, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
            $(document).on( "click", "a.dishitem", function(e) {
               e.preventDefault();

                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
             $(document).on( "click", "a.dishitem", function(e) {
               e.preventDefault();

                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
             });
             function readURL(input) {
                  if (input.files && input.files[0]) {
                    var reader = new FileReader();
    
                    reader.onload = function(e) {
                      $('#imgfilepicture').attr('src', e.target.result);
                    }
    
                    reader.readAsDataURL(input.files[0]);
                  }
                }
             $(document).on("change","#filepicture",function() {
                  readURL(this);
              });
              $(document).on('click', '[data-save="modal"]', function (event) {
                    event.preventDefault();

                    var form = $(this).parents('.modal-body').find('form');
                    var actionUrl = form.attr('action');
                    //var dataToSend = form.serialize();
                    // var formData = new FormData(form[0]);
                   var formdata = false;
                    if (window.FormData){
                        formdata = new FormData(form[0]);
                    }

                  var formAction = form.attr('action');

                  
                    $.ajax({
                        url         : formAction,
                        data        : formdata ? formdata : form.serialize(),
                        cache       : false,
                        contentType : false,
                        processData : false,
                        type        : 'POST',
                        success     : function(data, textStatus, jqXHR){
                            var isValid = false;

                          if (data && data.res && data.res== "OK")
                                    isValid = true;

                                  if (isValid) {
                                      $('#modDialog').modal('hide');
                                      $('#dialogContent').empty();
                                      reload();
                                  }
                                  else {
                                      var newBody = $('.modal-body', data);
                                      $(document).find('.modal-body').replaceWith(newBody);
                                  }
                            }
                    });

                 
                });
        })
    </script>
}
