@{
    Layout = null;
}
<html>
<head>
    <title>User Cards</title>
</head>
<body>
    <div id="content"></div>
    <link rel="stylesheet" href="~/css/service.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/rjs/nfcsocketex.js")"></script>
    <script src="@Url.Content("~/rjs/modaldialog.jsx")"></script>
    <script src="@Url.Content("~/rjs/cardex.jsx")"></script>
</body>
</html>