@{
    ViewData["Title"] = "Окно выдачи заказов";
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/service.css">
</head>
<body>
    <header class="main-header">

        <h1>Окно выдачи заказов</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <span id="isonline" style="background-color:green; width:100%;">Online</span>
                <span id="isoffline" style="background-color:red; width:100%;">Offline</span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>
        </div>



    </div>


    <script src="./js/jquery.min.js"></script>
    <script src="./js/service.js"></script>
    <script>
        $(function () {

            var actionUrl = "/Service/Status";
            var ServiceRequest = { DayDate: '01.01.2010' };
            var el_online = $("#isonline");
            var el_offline = $("#isoffline");
            el_online.hide();
            el_offline.hide();
            $.post(actionUrl, ServiceRequest).done(function (data, statusText, xhr) {
                el_offline.hide();
                el_online.show();
            })
                .fail(function (xhr, code, error) {
                    el_offline.show();
                    el_online.hide();
                });

        });
    </script>
</body>
</html>