@model UserSubGroupNode
@{
    Layout = null;
    string node_attr = "";
    if (@Model.ParentNode == null)
    {
        node_attr = "data-jstree='{\"opened\":true,\"selected\":true,\"type\":\"group\"}'";
    }
    else
    {
        node_attr = "data-jstree='{\"type\":\"group\"}'";
    }
}

        <li id="@Model.Id" @Html.Raw(node_attr)    > @Model.Name
@if(Model.Childs.Count() > 0) 
{ 
            <ul>
                @foreach (var child in Model.Childs.AsList())
                {
                    @await Html.PartialAsync("Node", child)
                }
            </ul>
}
        </li>
    
