@model IEnumerable<CateringPro.Models.CustomerOrdersViewModel>

@{
    ViewData["Title"] = "EditDay";
}
@{
    DateTime daydate = DateTime.Now;
}
@* bootstrap0 grid system *@

    <div class="well well-lg" data-form="userday">
        <div class="container">
            <div class="row justify-content-md-center">

            </div>
            @if (Model.Count() == 0)
            {
                 <div class="row row-daydish-category row justify-content-md-center">
                        <div class="container">
                            <div class="row">
                                <div class="col col-lg-10 col-md-10">
                                    <span>No Orders at this date</span>
                                </div>
                            </div>
                        </div>
                 </div>
            }
            else
            {
                @foreach (var it in Model)
                {
                    <div class="row">
                        <div class="container">
                            <div class="row border border-info">
                                <div class="col col-lg-2 col-md-2">
                                    <span> Who</span>
                                </div>
                                <div class="col col-lg-2 col-md-2">
                                    <span>Number</span>
                                </div>
                                <div class="col col-lg-2 col-md-2">
                                    <span>Amount</span>
                                </div>
                                <div class="col col-lg-2 col-md-2">
                                    <span>Details</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-2 col-md-2">
                                    @Html.DisplayFor(modelItem => it.UserName)
                                </div>
                                <div class="col col-lg-2 col-md-2">
                                    @Html.DisplayFor(modelItem => it.DishesCount)
                                </div>
                                <div class="col col-lg-2 col-md-2">
                                    @Html.DisplayFor(modelItem => it.Amount)
                                </div>
                                <div class="col col-lg-2 col-md-2">
                                    @Html.ActionLink("", "Invoice","Invoice",
                                            new { daydate=it.Date,userid=it.UserId }, new {@target="_blank", @class = "dishitem fa fa-pencil-square-o" })
                                    
                                </div>
                            </div>


                                </div>
                    </div>
                }
            }
            <div class="row dayfoot">
            </div>

            <div class="row dayfoot">
            </div>
        </div>
    </div>

