
@section Styles
{
   <style>
       img.link {

           width:50px;
           height:50px;
       }
   </style>
}

<h1>Usefull downloads links</h1>

<div class="container">
    <div class="row">
        <div class="col-2">
            <img  class="link" src="~/images/acr122u.png" />
        </div>
        <div class="col-10">
            <a href="@Url.Content("~/usefull/ACS-Unified-Driver-Win-4280.rar")">
                ACR122U Drivers for manual install
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img class="link" src="~/images/acr122u.png" />
        </div>
        <div class="col-10">
            <a href="@Url.Content("~/usefull/ACS-Unified-MSI-4280.rar")">
                ACR122U Drivers MSI Package
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img class="link" src="~/images/acr122u_logo.jpg" />
        </div>
        <div class="col-10">
            <a href="@Url.Content("~/usefull/NFCServerInstaller.msi")">
                NFC Server Installer
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img class="link" src="~/images/NetCore.png" 5 />
        </div>
        <div class="col-10">
            <a href="https://dotnet.microsoft.com/download/dotnet-core/thank-you/sdk-3.1.401-windows-x64-installer">
                .NET Core 3.1 Runtime
            </a>
        </div>
    </div>
</div>