@model EmailTemplateViewModel
@using CateringPro.Core 
@{
    Layout = null;
    bool isHtml = Html.ContainsHTMLElements(Model.Message);
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    @Model.Greeting
    <br />
    @if (isHtml)
    {
        @Html.Raw(@Model.Message)
    }
    else
    {
        @Model.Message
    }
</body>
</html>
