.invoice-box,.report-box, .production-forecast-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

    .invoice-box table, .report-box table, production-forecast-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

        .invoice-box table td, .report-box table td, production-forecast-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(3) {
            text-align: right;
        }

        .invoice-box table tr.top table td, .report-box table tr.top table td,.production-forecast-box table tr.top table td {
            padding-bottom: 20px;
        }

            .invoice-box table tr.top table td.title, .report-box table tr.top table td.title, .production-forecast-box table tr.top table td.title {
                font-size: 45px;
                line-height: 45px;
                color: #333;
            }

        .invoice-box table tr.information table td, .report-box table tr.information table td, .production-forecast-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td, .report-box table tr.heading td, .production-forecast-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td, .report-box table tr.details td, .production-forecast-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td, .report-box table tr.item td, .production-forecast-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td, .report-box table tr.item.last td, .production-forecast-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(5) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }
        .invoice-box table tr.daydate td, .report-box table tr.daydate td, .production-forecast-box table tr.daydate td {
            background: #999;
            font-weight: bold;
            text-align: center;
        }
        .invoice-box table tr.tabledate td, .report-box table tr.tabledate td, .production-forecast-box table tr.tabledate td {
            background: #ffffff;
            font-weight: bold;
            font-size:200%;
            text-align: center;
        }
        .invoice-box table tr.tablename td, .report-box table tr.tablename td, .production-forecast-box table tr.tablename td {
            background: #999;
            font-weight: bold;
            font-size: 150%;
            text-align: center;
        }
        .invoice-box table tr.item td.warning, .report-box table tr.item td.warning, .production-forecast-box table tr.item td.warning {
            background: #f6a5a5;
        }
        .report-box table tr td.w-10 {
            width: 10%;
        }
    .report-box table tr td.w-20 {
        width: 20%;
    }
    .report-box table tr td.w-30 {
        width: 30%;
    }
    .report-box table tr td.text-small {
        font-size:50%;
    }
    .report-box table.sub-table tr td {
       border:none !important;
    }

.production-forecast-box table tr td:nth-child(1) {
    width: 20%;
}
    .production-forecast-box table tr td:nth-child(2) {
        text-align: right;
        width:20%;
    }
    .production-forecast-box table tr td:nth-child(3) {
        text-align: right;
        width: 20%;
    }
    .production-forecast-box table tr td:nth-child(4) {
        text-align: right;
        width: 20%;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td, .production-forecast-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td, .production-forecast-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}
