
html, body {
    height: 100%;
    min-height: 100%;
}
#wrap {
  padding:0px;
  margin:0px;
  border:0px;
  
  position:relative;
  height:1px;
  min-height:100%;
}
main {
    min-height: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height:100%;
}
#main {
    overflow: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.footer {
    background-color: #222;
    padding: 0px;
    margin: 0px;
    border: 0px;
} 
body {
    padding-top: 50px;
    padding-bottom: 20px;
   /* background-image: url('../images/catering-background.jpg');*/
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.footer-bottom {
    padding: 15px 0 5px;
    background-color: #1f1f1f;
    background-color: rgba(0,0,0,.32);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    min-height: 90%;
    box-shadow: 10px 10px 5px grey;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 768px) {
    /*
    .navbar {
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }

    .navbar-nav {
        float: unset !important;
    }
}

.navbar {
    background-image: url("../images/darkwood.jpg")!important;
    background-color: transparent !important;
}

.navbar-nav, .navbar {
    z-index: 1030 !important;
}

    .navbar > .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
*/
}
.container {
    width: 100% !important;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    float:right;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

 

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

/*.thumbnail img {
    width: 100%;
}*/

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
        padding: 9px;
        color: #333;
}

footer {
    margin: 25px 0;
}


#carousel-example-generic {
    max-width: 800px;
    min-width: 600px;
    margin: 25px;
}

.review-stars {
    max-width: 150px;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: spinner-border;
}

.spinner-container {

    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.spinner-container-row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(65, 137, 199)
}

.spinner-container div {
    float: left;
    margin-left: 30px;
    text-align: center;
    display: block;
}

.dayfoot {
    height: 20px;
}

.daydish {
    width: 100%;
    border: 1px solid #e3e3e3;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
}

.row-daydish-category {
    width: 100%;
    border: 1px solid #e3e3e3;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
    background-color: #FFFFFF;
    color:#5a5a5a;
}
.row-daydish-header{

    border-bottom:solid;
    border-bottom-color:#00FF00;
    border-bottom-width:1px;
}

.row-daydish > .col {
    margin-top: 3px;
    margin-bottom: 3px;
}

.btn-link.daydish[aria-expanded="true"]:hover, .btn-link.daydish[aria-expanded="true"]:focus {
    background-color: #4d2800
}

.btn-link.daydish:hover, .btn-link.daydish:focus {
    color: #23527c;
    text-decoration: none;
    background: #fff;
}

.expand, .dayname {
    float: left;
    display: block;
}

.dayname {
    color: #4d2800;
}

.daydish, .daydish:hover .expand {
    background: #fff
}


    .daydish[aria-expanded="true"], .expand::after, .daydish[aria-expanded="true"] .expand::before, .daydish .expand::after, .daydish .expand::before {
        background-color: #4d2800
    }

        .daydish[aria-expanded="true"] .expand::after, .daydish[aria-expanded="true"] .expand::before,
        .daydish:hover .expand::after, .daydish:hover .expand::before {
            background-color: #4d2800
        }

    .daydish .expand {
        background: #4d2800;
        border-radius: 50%;
        height: 30px;
        margin: 8px 18px 8px 32px;
        min-width: 30px;
        position: relative;
        -webkit-transition: .25s ease-out;
        transition: .25s ease-out;
        width: 30px
    }

        .daydish .expand::after, .daydish .expand::before {
            background-color: #fff;
            content: "";
            position: absolute;
            -webkit-transition: -webkit-transform .25s ease-out;
            transition: transform .25s ease-out, -webkit-transform .25s ease-out
        }

        .daydish .expand::before {
            height: 50%;
            left: 50%;
            margin-left: -1px;
            top: 25%;
            width: 2px
        }

        .daydish .expand::after {
            height: 2px;
            left: 25%;
            margin-top: -1px;
            top: 50%;
            width: 50%
        }

.accordeon dl dt.active .plus, .accordeon dl dt:hover .plus {
    background: #fff
}

.daydish[aria-expanded="true"] .expand::after, .daydish[aria-expanded="true"] .expand::before, .daydish[aria-expanded="true"] .expand::after,
.daydish[aria-expanded="true"] .expand::before {
    background-color: #4d2800;
}

.daydish[aria-expanded="true"] .dayname {
    color: #FFFFFF;
}

.daydish[aria-expanded="true"] .expand {
    background: #fff
}

    .daydish[aria-expanded="true"] .expand::before {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .daydish[aria-expanded="true"] .expand::after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }

.checkbox {
    padding-left: 20px;
    margin-bottom: 20px;
    position:absolute;
    top:-5px;
    left:0
}

.col > .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dayselector {
    cursor: pointer;
}
.create {
    cursor: pointer;
}

/*  Dialog styles*/
a.ahead {
    color: #28a745 !important;
    float: left;
    font-size:16px;
    font-weight:700;
}
a.dialog-edit-icon, a.apagebottom {
    color: #28a745 !important;
}
.table-foot-pager{
    float:right;
}
.table-footer {

    min-height: 20px;
}
.table-content {
    box-shadow: 10px 10px 5px grey;
}


.col-select-filter, .col-select-filter:focus {
    border: none !important;
    color: #28a745 !important;
    height: 100% !important;
    font-size: 16px;
    font-weight: 700;
    padding:0;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}
 col-select-filter option{
        border:none;
 }
.col-select-filter option:checked {
    background: #28a745 !important;
    color: #FFFFFF;
}

 .col-select-filter option:hover {
        background: #28a745 !important;
        color: #FFFFFF;
 }
.col-select-filter::-ms-expand {
        display: none;
    }
.col-select-filter-wrap {
    float: left;
    position: relative;
    width: 80%;
   
}
.table.listitems th{
    
}
/* Menus and days*/
.daydish-category-content {
    margin-top: 10px;
    box-shadow: 10px 10px 5px grey;
}
.nav-day {
    color: #28a745 !important;
}
.nav-tabs .nav-day.active {
    color: #ffffff !important;
    background-color: #28a745;
}
.dayselector {
    cursor: pointer;
    color: #28a745 !important;
    font-size:large;
    font-weight:bolder;
}
    .dayselector .input-group-text {
        color: #28a745 !important;
        border: 2px solid #28a745;
        border-radius: .4rem;
        background-color:transparent;
    }

}
.day-content{
    margin-top:5px;
    margin-bottom:10px;
}
.daydish-footer {
    padding: 15px;
    margin-top: 15px;
    box-shadow: 10px 10px 5px grey;
}
.daydish-footer .total-order-row{
    background-color:#5a5a5a;
    color:#FFFFFF;
}
.daydish-footer-cmd{
    padding-top:10px;
    padding-bottom:10px;
}
.user-order-content {
    box-shadow: 10px 10px 5px grey;
}
.report-link, .user-order-foot {
    float: left;
    display: inline-block;
    position: relative;
    clear: left;
}
.payment-form{
    padding:30px;
    margin:30px;
}

/* documents*/
 .doc-line .form-control{
     padding-left:0;
     padding-right:0;
 }
.doc-line .col{
    padding-left:1px;
    padding-right:1px;
}

@media (min-width: 1024px) {
    .document-modal.modal .modal-dialog {
        max-width: 968px;
    }
}