@using Microsoft.AspNetCore.Identity
@inject SignInManager<CompanyUser> SignInManager
@inject CateringPro.Repositories.ICompanyUserRepository cu_repo
@*
    <footer class="footer">
        <div class="footer-bottom">
            <div class="container clearfix">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
            </div>
        </div>
    </footer>
*@
<footer class="footer"
        style="min-height: 91px; background: #222222; display:flex; align-items: center; margin-top: 56px">
    <div class="container" style="height: 100%">
        <div class="row justify-content-between">
            <div class="col-4">
               
                @if (SignInManager.IsSignedIn(User))
                {


                    <span class="h5" style="color: #ffffff; font-size: 14px; line-height: 16px">© 2017-2018 @cu_repo.GetCurrentCompany()</span>
                }
                else
                {
                    <span class="h5" style="color: #ffffff; font-size: 14px; line-height: 16px">© 2017-2018 Company, Inc.</span>
                }
            </div>
            <div class="col-4 ">
                <nav class="nav justify-content-end">
                    <a class="nav-link p-0 pl-3 pr-3 align-self-center" href="#"
                       style="color: #F15E25; font-size: 14px; line-height: 16px;">Privacy</a>
                    <div class="align-self-center" style="color: #f15e25">|</div>
                    <a class="nav-link p-0 pl-3 pr-3 align-self-center" href="#"
                       style="color: #F15E25; font-size: 14px; line-height: 16px;">Terms</a>
                </nav>
            </div>
        </div>
    </div>
</footer>