@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza Shop</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    </environment>
    <style>
        .navbar-nav > li{
            float:none!important;
        }
        .navbar-header{
            float:none!important;
        }
        .navbar-fixed{
            position:fixed;
            left:0px;
            top:0px;
        }
        @@media (min-width: 768px){

            .navbar {
                border-radius: 0;
                border-width: 0;
                height: 100%;
            }
            .navbar-nav{
                float:unset!important;
            }
        }
        .navbar{
            background-image: url('@Url.Content("~/images/darkwood.jpg")')!important;
            background-color:transparent !important;
     
        }
        .navbar-nav, .navbar{
               z-index:1030!important;
            }

        .navbar > .container-fluid{
            padding-left:0px!important;
            padding-right:0px!important;
        }
        .container{
            width:100%!important;
        }
.dropdown-submenu>.dropdown-menu{
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;

}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
    </style>
</head>
<body>
    <div id="root">
        <div class="container-fluid">
            <div class="row rowheader"></div>
            <div class="row">
                <div class="col-sm-3">
                    <nav class="navbar navbar-inverse navbar-fixed">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="navbar-brand row">
                                    <a style="color: white;" asp-controller="Home" asp-action="Index" class="navbar-brand">Catering PRO</a>
                                </div>
                            </div>

                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a asp-controller="Pizzas" asp-action="ListAll">Pizzas</a></li>
                                    @*
        @await Component.InvokeAsync("CategoryMenu")

        @if (SignInManager.IsSignedIn(User))
        {
            <li><a asp-controller="Reviews" asp-action="Index">Reviews</a></li>
            <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
        }
        else
        {
            <li><a asp-controller="Reviews" asp-action="ListAll">Reviews</a></li>
        }

        @await Component.InvokeAsync("ShoppingCartSummary")
                                    *@
                                    
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-sm-9">
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>

                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
