@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<CompanyUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    @* <ul class="nav navbar-nav navbar-right">*@
    <ul class="nav navbar-nav">
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Dishes" asp-action="Index">Dishes</a>
                    <a class="dropdown-item" asp-controller="Categories" asp-action="Index">Categories</a>
                    <a class="dropdown-item" asp-controller="DayDishes" asp-action="EditDay">DayDishes</a>
                    <a class="dropdown-item" asp-controller="CustomerOrders" asp-action="Index">Customer orders</a>
                </div>
            </li>

        }
        <li><a href="" class="nav-link">@User.Identity.Name</a></li>

        <li><a id="logoutLink" class="nav-link" asp-controller="Account" asp-action="LogOut">Log Out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="registerLink" class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a id="loginLink" class="nav-link" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
