@{
    ViewData["Title"] = "Error";
}

    <div class="container">
        <h1 class="text-danger">Помилка</h1>
        <h2 class="text-danger">Нажаль сталася помилка </h2>

        <h3>Мы не ожидали увидеть Вас на этой странице :(</h3>
        <p>
            Наша  команда <strong>уже </strong> прилагает все усилия для скорейшего решения проблемы.
        </p>
        <p>
            <strong>Вы можете обратиться в службу техпоодержки</strong>, если проблема будет повторяться

            А сейчас вы можете <a src='@Url.ActionLink("Index","Home")' >заново вернуться</a> 


        </p>
    </div>