@model CateringPro.Models.DayDish

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DayDish</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="DishId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
