@model AddBalanceViewModel
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["AddBalance"];
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-4">
            @Localizer["CurrentBalance"]
        </div>
        <div class="col-4">
            @Model.CurrentBalance
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div id="liqpay_checkout"></div>
        </div>
    </div>
</div>
@section scripts
{
<script>
            window.LiqPayCheckoutCallback = function() {
                LiqPayCheckout.init({
                    data: "sandbox_lvbiIgOiAzLCAicHVibGljX2tleSIgOiAieW91cl9wdWJsaWNfa2V5IiwgImFjdGlv" +
                        "biIgOiAicGF5IiwgImFtb3VudCIgOiAxLCAiY3VycmVuY3kiIDogIlVTRCIsICJkZXNjcmlwdGlv" +
                        "biIgOiAiZGVzY3JpcHRpb24gdGV4dCIsICJvcmRlcl9pZCIgOiAib3JkZXJfaWRfMSIgfQ==",
                    signature: "sandbox_g55PCx/Hdz6lzWtYwcI=",
                    embedTo: "#liqpay_checkout",
                    language: "ru",
                    mode: "embed" // embed || popup
                }).on("liqpay.callback", function (data) {
                    console.log(data.status);
                    console.log(data);
                }).on("liqpay.ready", function (data) {
                    // ready
                }).on("liqpay.close", function (data) {
                    // close
                });
};
</script>
<script src="//static.liqpay.ua/libjs/checkout.js" async></script>

}