@model IEnumerable<AssignedCompanyEditViewModel>
@inject CateringPro.Core.SharedViewLocalizer Localizer

@{
    string companies = string.Join(",", Model.Where(r => r.IsAssigned).Select(r => r.CompanyID));
}
@*<div id="modchangecompany" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["MenuChangeCompany"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">*@
                @*@Html.AntiForgeryToken()*@
                <input type="hidden" id="companies" name="companies" value="@companies" />
                <ul class="list-group">

                    @foreach (var ur in Model)
                    {
                       
                    <li data-id="@ur.CompanyID" class="company-item list-group-item@(ur.IsAssigned?" active fa fa-check-square-o":" fa fa-square-o")" style="cursor:pointer;">&nbsp;@ur.CompanyName</li>
                      
                    }
                </ul>
            @*</div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" id="selectcompany">@Localizer["Select"]</button>
            </div>
        </div>
    </div>
</div>*@
