@model RegisterViewModel
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = "EmailConfirmed";
}

<h2>@Localizer["Email Sent Title"]</h2>
<form asp-controller="Account" asp-action="EmailConfirmed" method="post" class="form-horizontal" role="form">

    <hr />
    <html lang="en">
    <head>
        <title>Rezume Free Template by Colorlib</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        @*<link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/flexslider.css">
        <link rel="stylesheet" href="fonts/icomoon/style.css">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">*@

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

        <nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light" id="pb-navbar">

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

            <section class="site-section" id="section-portfolio">
                <div class="container">
                    <div class="row">
                        <div class="section-heading text-center col-md-12">
                            <h2>
                                Вашу пошту підтверджено!
                                <br />Дякуємо!
                            </h2>
                            <p>
                                <button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-primary" px-4 py-2 btn-sm smoothscroll">@Localizer["HomePage"]</button>
                            </p>
                        </div>
                    </div>

                </div>
            </section>
    </body>
</html>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
