@model UpdateUserModel
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{

}
<h2>@Localizer["MenuUpdateUser"]</h2>
<form asp-controller="Account" asp-action="Update" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <input type="hidden" asp-for="Id" />
    <div class="container">
        <div class="row form-group">
            <label asp-for="OldPassword" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="NewPassword" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Email" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input readonly="readonly" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="City" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="ZipCode" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Country" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Address1" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Address2" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Localizer["Company Setting Save"]" class="btn btn-primary" />
            </div>
        </div>
    </div>


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }